<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( "./partilas/css/bootstrap")%>
    <%- include( "./partilas/js/bootstrap")%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <%- include( "./partilas/compoenets/nav.ejs")%>
    <div class="container ">
        <div class="row my-5">
 <% blogs.forEach(blog => { %>
    <div class="card mx-3 col" style="width: 18rem;">
        <img src="/uploads/<%= blog.coverImage%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= blog.title.slice(0,35) %></h5>
          
         
          <a href="/blog/view/<%= blog._id %>" class="btn btn-primary">View</a>
        </div>
      </div>
 <% }) %>
</div>
    
</div>
</body>
</html>